:root {
  box-sizing: border-box;
  font-size: 16px;
  --dark-blue--dark: hsl(209, 23%, 22%);
  --very-dark-blue--dark: hsl(207, 26%, 17%);
  --very-dark-blue--light: hsl(200, 15%, 8%);
  --dark-gray--light: hsl(0, 0%, 52%);
  --very-light-gray--light: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 600px) {}