:root {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----------  Theme colors  ----------*/
.light {
  --text: hsl(200, 15%, 8%);
  --element: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 98%);
  --input: hsl(0, 0%, 52%);
  --shadow: inset 0 8px 16px -18px hsl(0, 0%, 52%);
}

.dark {
  --text: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
  --background-color: hsl(207, 26%, 17%);
  --input: hsl(209, 23%, 22%);
  --shadow: inset 0 8px 16px -18px hsl(209, 23%, 22%);
}

/*----------  Header  ----------*/
.header {
  background-color: var(--element);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1.5em;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.mode-switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
}

.mode-switch>span {
  font-size: 1.25rem;
  font-weight: 600;
}

.theme-icon {
  margin-right: 0.5rem;
}


/*----------  Main  ----------*/

main {
  background-color: var(--background-color);
  color: var(--text);
  height: 100vh;
  box-shadow: var(--shadow);

}

/*----------  Tablets and above  ----------*/
@media screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}